.kvadrat {
  background: cornflowerblue;
  height: 100px;
  width: 100px;
  transition: transform 1s steps(6), background 2s ease-out;
}

.kvadrat:hover {
  background-color: yellowgreen;
  transform: translateX(30px);
}
